<nav class="global-navbar global-navbar-default global-nav-header" id="header-navbar">
    <div class="container">
      <div class="global-navbar-header">
        <button id="header-menu-btn" class="global-navbar-toggle">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
<a id="header-rdc-logo" href="/" class="global-navbar-brand header-rdc-logo" data-omtag="header-menu:network:realtor" data-no-turbolink="true">
  <i class="svg-logo svg-logo-realtor"></i>
</a>
<a id="move-network-links" class="move-network-links" data-container="body" data-toggle="popover" data-placement="bottom" data-popover-content="#move-network-popover" data-original-title="" title="" data-template='<div class="popover global-nav-network-sites-popover" role="tooltip"><div class="global-nav-popover-arrow arrow"></div><div class="popover-content"></div></div>'>
  <i class="svg-icon svg-icon-angle-down-header"></i>
</a>
<div id="move-network-popover" class="global-nav-hide">
  <div class="container">
    <div class="global-nav-network-menu-content">
      <div class="global-nav-move-sites-wrap">
        <p class="network-menu-section-titles">Part of realtor.com<sup class="global-nav-font-size-xsmall">&reg;</sup> Network</p>
        <ul class="global-nav-list-unstyled">
          <li class="global-nav-clearfix">
            <div class="move-sites-links-wrap"><a href="http://www.realtor.com/international/en" data-omtag="header-menu:network:international">International</a></div>
            <div class="move-sites-intro-wrap"><span>International Properties in over 36 countries in 11 languages</span></div>
          </li>
          <li class="global-nav-clearfix">
            <div class="move-sites-links-wrap"><a href="http://commercialsearch.realtor.com/" data-omtag="header-menu:network:commerical">Commercial</a></div>
            <div class="move-sites-intro-wrap"><span>Find office, industrial, retail and other commercial property</span></div>
          </li>
          <li class="global-nav-clearfix">
            <div class="move-sites-links-wrap"><a href="http://www.moving.com"  data-omtag="header-menu:network:moving">Moving.com</a></div>
            <div class="move-sites-intro-wrap"><span>Moving quotes, tips, supplies, and tools</span></div>
          </li>
          <li class="global-nav-clearfix">
            <div class="move-sites-links-wrap"><a href="http://www.seniorhousingnet.com/" data-omtag="header-menu:network:senior">SeniorHousingNet.com</a></div>
            <div class="move-sites-intro-wrap"><span>Find assisted living, nursing homes, and senior communities</span></div>
          </li>
          <li class="global-nav-clearfix">
            <div class="move-sites-links-wrap"><a href="https://www.doorsteps.com/" >Doorsteps</a></div>
            <div class="move-sites-intro-wrap"><span>Search apartment rentals with original content from local experts</span></div>
          </li>
          <li class="global-nav-clearfix">
            <div class="move-sites-links-wrap"><a href="http://www.remodelista.com/?utm_source=realtor&utm_medium=top_nav&utm_campaign=rdc_nav/" data-omtag="header-menu:network:remodelista">Remodelista</a></div>
            <div class="move-sites-intro-wrap"><span>Home design inspiration + remodeling tips and advice</span></div>
          </li>
          <li class="global-nav-clearfix">
            <div class="move-sites-links-wrap"><a href="http://www.gardenista.com/?utm_source=realtor&utm_medium=top_nav&utm_campaign=rdc_nav/" data-omtag="header-menu:network:gardenista">Gardenista</a></div>
            <div class="move-sites-intro-wrap"><span>Garden design inspiration + landscaping tips and advice</span></div>
          </li>
        </ul>
      </div>
      <div class="global-nav-newscorp-sites-wrap">
        <p class="network-menu-section-titles">News Corp Properties</p>
        <div class="newscorp-intro-wrap">
          <p>realtor.com<sup>&reg;</sup> and Move, Inc. are part of News Corp – a network of leading companies in the worlds of diversified media, news, education, and information services.</p>
        </div>
        <div class="newscorp-sites-links-wrap">
          <ul class="global-nav-list-unstyled">
            <li><a href="http://www.barrons.com" data-omtag="header-menu:nc:network:barrons">Barron’s</a></li>
            <li><a href="http://www.wsj.com" data-omtag="header-menu:nc:network:wall-street-journal">Wall Street Journal</a></li>
            <li><a href="http://www.efinancialnews.com" data-omtag="header-menu:nc:network:financial-news">Financial News</a></li>
            <li><a href="http://www.mansionglobal.com/" data-omtag="header-menu:nc:network:mansion-global">Mansion Global</a></li>
            <li><a href="http://nypost.com/" data-omtag="header-menu:nc:network:new-york-post">New York Post</a></li>
          </ul>
        </div>
        <div class="newscorp-sites-links-wrap">
          <ul class="global-nav-list-unstyled">
            <li><a href="http://www.marketwatch.com/" data-omtag="header-menu:nc:network:market-watch">Market Watch</a></li>
            <li><a href="http://www.checkout51.com" data-omtag="header-menu:nc:network:checkout-51">Checkout 51</a></li>
            <li><a href="http://www.harpercollins.com/" data-omtag="header-menu:nc:network:harper-collins">Harper Collins</a></li>
            <li><a href="http://www.rea-group.com/" data-omtag="header-menu:nc:network:rea">REA</a></li>
            <li><a href="http://storyful.com/" data-omtag="header-menu:nc:network:storyful">Storyful</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="global-nav-clearboth"></div>
</div>

      </div>
      <div class="header-login-wrapper">
        <ul class="global-nav global-navbar-nav global-navbar-right">
                 <div id="loginEl" data-login-env= "prod" ng-controller="loginCtrl">
	     <div ng-view></div>
	  </div>
<li class="dropdown header-login-menu header-logged-menu" id="header-login-menu" style="display:none">
  <a data-omtag="header-menu:my-account:profile" href="https://myaccount.realtor.com?new=1" class="dropdown-toggle disabled dropdown-toggle-desktop">
    <span class="header-login-text js-username"></span>
    <span class="header-login-icon"><i class="svg-icon svg-icon-user"></i></span>
  </a>
  <div role="menu" class="dropdown-menu dropdown-hover-login dropdown-multicolumn dropdown-hover dropdown-hover-logged">
    <div id="idSavedSearchesAndProp" class="global-nav-logged-wrapper">
	<div class="global-nav-username-section global-nav-clearfix">
		<div class="global-nav-username">
			<p>Hi, <span class="myaccount-username"></span></p></div>
			<div class="global-nav-profile-links"><ul class="global-nav-list-horizontal global-nav-list-style-line">
				<li><a href="https://myaccount.realtor.com/member_profile#/profile?new=1" data-omtag="header-menu:my-acct:settings">Settings</a></li>
				<li><a id="myaccount_logout" href="javascript:void(0);" onclick="myServiceLogout();" data-omtag="header-menu:my-acct:sign-out">Sign Out</a></li>
			</ul>
		</div>
	</div>
	<div class="global-nav-logged-recent-activity">
		<div id ="my_properties_div">
			 	<div class="global-nav-clearfix">
        <a class="global-nav-logged-activity-titles" data-omtag="header-menu:my-acct:my-properties" href="https://myaccount.realtor.com/properties?new=1">My Properties </a>
        <p>Click the <i class="svg-icon svg-icon-heart-o svg-menu-icons"></i> to save properties</p>
    </div>


		</div>
		<div>
			<div id = "no_property_div">
					<div class="global-nav-clearfix">
        <a class="global-nav-logged-activity-titles" data-omtag="header-menu:my-acct:my-properties" href="https://myaccount.realtor.com/properties?new=1">My Properties </a>
        <p>Click the <i class="svg-icon svg-icon-heart-o svg-menu-icons"></i> to save properties</p>
    </div>
			</div>
			<hr class="global-nav-links-divider">
        </div>
		<div id ="my_search_div">
				<div class="global-nav-clearfix">
      <a class="global-nav-logged-activity-titles" data-omtag="header-menu:my-acct:my-searches" href="https://myaccount.realtor.com/searches?new=1">My Searches</a>
     <p>Click <span class="global-nav-font-semibold">Follow Search</span> to get alerts on new listings</p>
    </div>


		</div>
		<div>
			<div id = "no_search_div">
				 	<div class="global-nav-clearfix">
      <a class="global-nav-logged-activity-titles" data-omtag="header-menu:my-acct:my-searches" href="https://myaccount.realtor.com/searches?new=1">My Searches</a>
     <p>Click <span class="global-nav-font-semibold">Follow Search</span> to get alerts on new listings</p>
    </div>
			</div>
			<hr class="global-nav-links-divider">
        </div>
	</div>
</div>

    <ul class="global-nav-list-unstyled header-log-out"><li><a id="logout" href="javascript:void(0)">Log Out</a></li></ul>
  </div>
</li>
<li id="header-login-menu" class="dropdown header-login-menu">
  <a  data-omtag="header-menu:my-account:login">
    <span class="header-login-text login">Sign In</span><span class="header-login-text signup"> / Sign Up</span>
    <span class="header-login-icon login"><i class="svg-icon svg-icon-user"></i></span>
  </a>
  <div id="login-signup-popup">
  <div class="dropdown-menu dropdown-hover-login dropdown-multicolumn dropdown-hover" role="menu">
    <div class="global-nav-login-wrap">
      <p class="global-nav-text-center global-nav-login-section-header">Log in to save favorites, <span class="global-nav-display-block">get alerts, and sync devices.</span></p>
      <a class="global-nav-btn global-nav-btn-primary global-nav-login-btn login"  data-omtag="header-menu:my-account:login">Sign In</a>
      <p class="global-nav-text-center">No account? <a href="javascript:void(0)" class="signup" >Sign Up</a></p>
      <span class="divider"></span>
      <div class="global-nav-agent-wrap">
        <a target="_blank" href="//solutioncenter.realtor.com/ControlPanel/Login.aspx#iid=rdc_hdr_realtors_agentloginn" data-omtag="header-menu:account:agent-login" class="global-nav-btn global-nav-btn-secondary global-nav-login-btn">Agent Sign In</a>
        <p class="global-nav-text-center">No account? <a href="//solutioncenter.realtor.com/ControlPanel/Login.aspx#iid=rdc_hdr_realtors_agentloginn" class="agent-signup" >Agent Sign Up</a></p>
      </div>
    </div>
   </div>
   </div>
  </li>

        </ul>
      </div>
      <div id="header-nav-menu" class="nav-menu-desktop">
        <ul class="global-nav global-navbar-nav global-navbar-main-links">
          <li id="img_buy" class="dropdown active ">
               <a href="/realestateforsale" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:buy">Buy</a>
<span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
<div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
  <div class="container dropdown-content-wrapper">
    <div>
      <ul class="global-nav-list-unstyled">
        <li class="dropdown-header">Homes for Sale</li>
        <li>
			<a href="/realestateforsale" data-omtag="header-menu:buy:all-homes">All Homes</a>
		</li>
		<li>
			<a href="/newhomes" data-omtag="header-menu:buy:new-homes">New Homes &amp; Communities</a>
		</li>
		<li>
			<a href="/newhomes" data-omtag="header-menu:buy:new-homes">New Construction</a>
		</li>
		<li>
			<a href="/foreclosure" data-omtag="header-menu:buy:foreclosures">Foreclosures</a>
		</li>
      </ul>
    </div>
    <div>
      <ul class="global-nav-list-unstyled">
        <li class="dropdown-header">Home Values</li>
        <li>
			<a href="/soldhomes" data-omtag="header-menu:buy:homeValues:geo-recently-sold">Recently Sold</a>
		</li>
		<li>
			<a  href="/propertyrecord-search" data-omtag="header-menu:buy:homeValues:geo-property-records">Property Records</a>
		</li>
		<hr class="global-nav-links-divider">
		<li>
			<a href="/advice/buy/" data-omtag="header-menu:buy:homeValues:buying-tips">Home Buying Tips</a>
		</li>
		<li>
			<a data-omtag="header-menu:buy:homeValues:selling-tips" href="/advice/sell/">Home Selling Tips</a>
		</li>
      </ul>
    </div>
    <div>
      <ul class="global-nav-list-unstyled">
        <li class="dropdown-header">Home Buying Tips</li>
       		<li class="global-nav-news-feed-items-wrap">
			<div class="global-nav-news-feed-item">
				<div class="global-nav-news-feed-content">
					<a href="http://www.realtor.com/advice/buy/questions-to-ask-when-buying-a-home/">10 Essential Questions to Ask When Buying a Home</a>
				</div>
				<div class="global-nav-news-feed-media">
					<a href="http://www.realtor.com/advice/buy/questions-to-ask-when-buying-a-home/"><img class="thumbnail buy_links" alt="10 Essential Questions to Ask When Buying a Home"></a>
				</div>
			</div>
			<hr class="global-nav-links-divider">
		</li>


        <li><a href="/advice/buy/" data-omtag="header-menu:buy:buying-advice">More Home Buying Advice</a></li>
        <li>
          <a  href="//community.realtor.com/t5/Buying-Selling/bd-p/buyingandselling" data-omtag="header-menu:buy:read-buying-discussions">Read Buying Discussions</a>
        </li>
      </ul>
    </div>
  </div>
</div>

          </li>
           <li id="img_sell" class="dropdown INACTIVE_sell ">
               <a href="/sell" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" data-omtag="header-menu:sell">Sell</a>
<span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
<div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
	<div class="container dropdown-content-wrapper">
    <div>
      <ul class="global-nav-list-unstyled">
        <li class="dropdown-header">Home Selling</li>
        <li>
        	<a href="/sell" data-omtag="header-menu:sell:see-what-your-home-is-worth">See What Your Home Is Worth</a>
        </li>
        <li>
			<a href="/tag/2016-home-sellers-guide/" data-omtag="header-menu:sell:learn-to-sell-your-home">Learn How to Sell Your Home</a>
		</li>
        <li>
          <a href="/advice/sell/interviewing-listing-agents/" data-omtag="header-menu:sell:how-to-select-an-agent">How to Select an Agent</a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="global-nav-list-unstyled">
        <li class="dropdown-header">Community</li>
        <li>
          <a href="http://community.realtor.com/t5/Buying-Selling/bd-p/buyingandselling"  data-omtag="header-menu:sell:discussion-buy-sell">Discussions on Buying & Selling</a>
        </li>
        <li>
          <a href="http://community.realtor.com/" data-omtag="header-menu:sell:ask-the-community">Ask the Community</a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="global-nav-list-unstyled">
        <li class="dropdown-header">Home Selling Tips</li>
         		<li class="global-nav-news-feed-items-wrap">
			<div class="global-nav-news-feed-item">
				<div class="global-nav-news-feed-content">
					<a href="http://www.realtor.com/advice/sell/spark-a-bidding-war-for-your-home/">How to Spark a Bidding War for Your Home</a>
				</div>
				<div class="global-nav-news-feed-media">
					<a href="http://www.realtor.com/advice/sell/spark-a-bidding-war-for-your-home/"><img class="thumbnail sell_links" alt="How to Spark a Bidding War for Your Home"></a>
				</div>
			</div>
			<hr class="global-nav-links-divider">
		</li>


        <li><a href="/advice/sell/"  data-omtag="header-menu:sell:selling-advice">More Home Selling Advice</a></li>
        <li>
          <a href="//community.realtor.com/t5/Buying-Selling/bd-p/buyingandselling" data-omtag="header-menu:sell:read-selling-discussions">Read Selling Discussions</a>
        </li>
      </ul>
    </div>
  </div>
</div>
          </li>
         <li id="img_rentals" class="dropdown INACTIVE_rentals ">
               <a href="/rentals" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" data-omtag="header-menu:rent">Rent</a>
<span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
<div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
	<div class="container dropdown-content-wrapper">
	<div>
		<ul class="global-nav-list-unstyled">
			<li class="dropdown-header">
				Apartments for Rent
			</li>
			<li>
				<a href="/rentals?styp=1" data-omtag="header-menu:rent:apartments">Apartments For Rent</a>
			</li>
			<li>
				<a href="/rentals?styp=2" data-omtag="header-menu:rent:condo/townhouses">House/Condo Rentals</a>
			</li>
			<li>
				<a href="/rentals?styp=3" data-omtag="header-menu:rent:all-rentals">All Rentals</a>
			</li>
		</ul>
	 </div>
	 <div>
		<ul class="global-nav-list-unstyled">
		<li class="dropdown-header">Common Searches</li>
		<li>
			<a href="/mortgage/tools/rent-or-buy-calculator/" data-omtag="header-menu:editorial:news">Should I Rent or Buy?</a>
		</li>
		<li>
			<a href="/advice/tag/petspets/" data-omtag="header-menu:rent:advice">Renting With Pets Tips</a>
		</li>
		<li class="dropdown-header dropdown-header-seperator">Landlord Tools
		</li>
		<li>
			<a href="https://www.doorsteps.com/post-rental" data-omtag="header-menu:rent:list-your-rental">List Your Rental</a>
		</li>
		</ul>
   </div>
		<div>
			<ul class="global-nav-list-unstyled">
				<li class="dropdown-header">Home Renting Tips</li>
			     		<li class="global-nav-news-feed-items-wrap">
			<div class="global-nav-news-feed-item">
				<div class="global-nav-news-feed-content">
					<a href="http://www.realtor.com/advice/rent/rules-on-raising-rent/">The Rules on Raising Rent: What Landlords Can and Can&#39;t Do</a>
				</div>
				<div class="global-nav-news-feed-media">
					<a href="http://www.realtor.com/advice/rent/rules-on-raising-rent/"><img class="thumbnail rent_links" alt="The Rules on Raising Rent: What Landlords Can and Can&#39;t Do"></a>
				</div>
			</div>
			<hr class="global-nav-links-divider">
		</li>


				<li>
					<a href="/advice/rent/" data-omtag="header-menu:rent:advice">More Renting Advice</a>
				</li>
				<li>
					<a href="http://community.realtor.com/t5/Renting/bd-p/Renting" data-omtag="header-menu:rent:renting-discussions">Read Renting Discussions</a>
				</li>
			</ul>
		</div>
	</div>
</div>



          </li>
          <li id="img_mortgage" class="dropdown INACTIVE_mortgage ">
              <a href="/mortgage/" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:finance">Mortgage</a>
<span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
<div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
	<div class="container dropdown-content-wrapper">
		<div>
    <ul class="global-nav-list-unstyled">
		<li class="dropdown-header">
			Mortgage Rates
		</li>
	    <li>
			<a href="/mortgage/rates/" data-omtag="header-menu:finance:mortgages-rates:purchase">Mortgage Rates</a>
		</li>
		<li>
			<a href="/mortgage/rates/#loan_purpose=refinance" data-omtag="header-menu:finance:mortgage-rates:refinance">Refinance Rates</a>
		</li>
		<li>
			<a href="/advice/finance/" data-omtag="header-menu:finance:advice">Finance Advice</a>
		</li>
		<li>
			<a href="/mortgage/va-home-loan-center/" data-omtag="header-menu:finance:mortgage-rates:veteransHub">For Veterans</a>
		</li>
	</ul>
</div>
<div>
	<ul class="global-nav-list-unstyled">
		<li class="dropdown-header">
			Calculators
		</li>
		<li>
			<a href="/mortgage/tools/mortgage-calculator/" data-omtag="header-menu:finance:calculators:mortgage">Mortgage Calculator</a>
		</li>
		<li>
			<a href="/mortgage/tools/refinance-calculator/" data-omtag="header-menu:finance:calculators:refinance">Refinance Calculator</a>
		</li>
		<li>
			<a href="/mortgage/tools/affordability-calculator/" data-omtag="header-menu:finance-calculators-affordability">What Can I Afford</a>
		</li>
		<li>
			<a href="/mortgage/tools/rent-or-buy-calculator/" data-omtag="header-menu:finance-calculators-rent-vs-buy">Rent vs. Buy</a>
		</li>
	</ul>
</div>
<div>
	<ul class="global-nav-list-unstyled">
		<li class="dropdown-header">Finance Advice</li>
				<li class="global-nav-news-feed-items-wrap">
			<div class="global-nav-news-feed-item">
				<div class="global-nav-news-feed-content">
					<a href="http://www.realtor.com/advice/4-signs-great-va-loan-candidate/?guide_ref=223057">4 Signs You’re a Great VA Loan Candidate</a>
				</div>
				<div class="global-nav-news-feed-media">
					<a href="http://www.realtor.com/advice/4-signs-great-va-loan-candidate/?guide_ref=223057"><img class="thumbnail mortgage_links" alt="4 Signs You’re a Great VA Loan Candidate"></a>
				</div>
			</div>
			<hr class="global-nav-links-divider">
		</li>


		<li><a href="/advice/finance/" data-omtag="header-menu:finance:finance-advice">More Finance Advice</a></li>
		<li>
			<a href="//community.realtor.com/t5/Financing/bd-p/Financing"  data-omtag="header-menu:finance:finance-discussions">Read Finance Discussions</a>
		</li>
	</ul>
</div>
</div>
</div>
          </li>
          <li id="img_far" class="dropdown INACTIVE_far ">
             <a href="/realestateagents" data-omtag="header-menu:realtors"  class="dropdown-toggle disabled dropdown-toggle-desktop"><span class="global-nav-text-tranform">Find</span> Realtors<sup>&reg;</sup></a>
<span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
<div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
  <div class="container dropdown-content-wrapper">
    <div>
      <ul class="global-nav-list-unstyled">
        <li class="dropdown-header">Find REALTORS<sup class="global-nav-font-size-xsmall">&reg;</sup></li>
        <li><a href="/realestateagents" data-omtag="header-menu:realtors:search-realtors" >Search for a Real Estate Agent</a></li>
      </ul>
    </div>
    <div>
      <ul class="global-nav-list-unstyled">
        <li class="dropdown-header">Why Use a REALTOR<sup class="global-nav-font-size-xsmall">&reg;</sup></li>
        <li>
          <a href="/advice/buy/why-you-should-use-realtor/">6 Reasons You Should Never Buy or Sell a Home Without an Agent</a>
        </li>
        <li>
          <a href="/advice/buy/whats-difference-real-estate-salesperson-broker/" data-omtag="header-menu:far:difference-between-agent-broker-realtor">Difference Between Agent, Broker & REALTOR<sup class="global-nav-font-size-xsmall">&reg;</sup></a>
        </li>
        <li>
          <a href="/advice/listing-agent-vs-buyer-agent/" data-omtag="header-menu:far:listing-versus-buyer-agent">Listing vs. Buyer Agent</a>
        </li>
        <li>
          <a href="/advice/sell/find-a-realtor/" data-omtag="header-menu:far:how-to-find-realtor">How To Find a REALTOR<sup class="global-nav-font-size-xsmall">&reg;</sup></a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="global-nav-list-unstyled">
        <li class="dropdown-header">News Around REALTORS<sup class="global-nav-font-size-xsmall">&reg;</sup></li>
        		<li class="global-nav-news-feed-items-wrap">
			<div class="global-nav-news-feed-item">
				<div class="global-nav-news-feed-content">
					<a href="http://www.realtor.com/videos/video-hiring-a-realtor-better-look-beyond-this-one-thing/b47bcb02-24f9-479e-ac3a-349f2f3b9b3a">Hiring a Realtor? Better Look Beyond This One Thing</a>
				</div>
				<div class="global-nav-news-feed-media">
					<a href="http://www.realtor.com/videos/video-hiring-a-realtor-better-look-beyond-this-one-thing/b47bcb02-24f9-479e-ac3a-349f2f3b9b3a"><img class="thumbnail find_realtor_links" alt="Hiring a Realtor? Better Look Beyond This One Thing"></a>
				</div>
			</div>
			<hr class="global-nav-links-divider">
		</li>


        <li><a href="/news/trends/"  data-omtag="header-menu:realtors:more-news">More News Around REALTORS<sup class="global-nav-font-size-xsmall">&reg;</sup></a></li>
      </ul>
    </div>
  </div>
</div>

          </li>
          <li id="img_local" class="dropdown INACTIVE_local ">
               <a href="/local/" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:learn">Local</a>
<span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
<div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
	<div class="container dropdown-content-wrapper">
		<div>
			<ul class="global-nav-list-unstyled">
				<li class="dropdown-header">Local Info</li>
				<li>
					<a href="/local/" data-omtag="header-menu:learn:overview">Local Information <span class="global-nav-display-block">for Neighborhoods &amp; Cities</span></a>
				</li>
			</ul>
		</div>
		<div>
			<ul class="global-nav-list-unstyled">
				<li class="dropdown-header">Advice</li>
				<li><a href="http://community.realtor.com/t5/Local-Info/bd-p/LocalTopics" data-omtag="header-menu:local:community-talk">Local Community Talk</a></li>
				<li><a href="http://community.realtor.com/t5/General-Discussion/bd-p/TLR"  data-omtag="header-menu:local:ask-the-community">Ask the Community</a></li>
			</ul>
		</div>
		<div>
			<ul class="global-nav-list-unstyled">
				<li class="dropdown-header">Neighborhood Tips</li>
						<li class="global-nav-news-feed-items-wrap">
			<div class="global-nav-news-feed-item">
				<div class="global-nav-news-feed-content">
					<a href="http://www.realtor.com/news/trends/top-school-districts-premium/">It Pays to Own in an A-Plus School District—Here’s How Much</a>
				</div>
				<div class="global-nav-news-feed-media">
					<a href="http://www.realtor.com/news/trends/top-school-districts-premium/"><img class="thumbnail local_links" alt="It Pays to Own in an A-Plus School District—Here’s How Much"></a>
				</div>
			</div>
			<hr class="global-nav-links-divider">
		</li>


				<li><a href="http://research.realtor.com/market-trends/"  data-omtag="header-menu:local:market-trends" >Local Market Trends</a></li>
				<li>
					<a href="http://research.realtor.com/reports/hottest-markets/" data-omtag="header-menu:local:hot-market">Hot Local Markets</a>
				</li>
			</ul>
		</div>
	</div>
</div>

          </li>

          <li id="img_news" class="dropdown INACTIVE_news ">
              <a  href="/news/" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:editorial:news-advice">News &amp; Advice</a>
<span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
<div class="dropdown-menu dropdown-hover dropdown-multicolumn">
	<div class="container dropdown-content-wrapper">
		<div>
			<ul class="global-nav-list-unstyled">
				<li class="dropdown-header">News</li>
				<li>
					<a href="/news/" data-omtag="header-menu:editorial:latest-news">The Latest News</a>
				</li>
				<li>
					<a href="/news/trends/" data-omtag="header-menu:editorial:news-trends">Housing Trends</a>
				</li>
				<li>
					<a href="/news/real-estate-news/" data-omtag="header-menu:editorial:real-estate-news">Real Estate News</a>
				</li>
				<li>
					<a href="/news/celebrity-real-estate/" data-omtag="header-menu:editorial:news-celebrity">Celebrity Real Estate</a>
				</li>
				<li>
					<a href="/news/unique-homes/" data-omtag="header-menu:editorial:news-unique-homes">Unique Homes</a>
				</li>
				<li>
					<a href="//research.realtor.com" data-omtag="header-menu:editorial:news-research">Research</a>
				</li>
			</ul>
		</div>
		<div>
			<ul class="global-nav-list-unstyled">
				<li class="dropdown-header">Advice</li>
				<li>
					<a href="//community.realtor.com" data-omtag="header-menu:editorial:advice-HouseTalk">realtor.com Community</a>
				</li>
				<li>
					<a href="/advice/buy/" data-omtag="header-menu:editorial:advice-Buy">Buying</a>
				</li>
				<li>
					<a href="/advice/sell/" data-omtag="header-menu:editorial:advice-Sell">Selling</a>
				</li>
				<li>
					<a href="/advice/rent/" data-omtag="header-menu:editorial:advice-Rent">Renting</a>
				</li>
				<li>
					<a href="/advice/finance/" data-omtag="header-menu:editorial:advice-Finance">Financing</a>
				</li>
				<li>
					<a href="/advice/move/" data-omtag="header-menu:editorial:advice-Move">Moving</a>
				</li>
				<li>
					<a href="/advice/home-improvement/" data-omtag="header-menu:editorial:advice-homeImprov">Home Improvement</a>
				</li>
				<li>
					<a href="/advice/for-pros/" data-omtag="header-menu:editorial:advice-Pros">For Pros</a>
				</li>
				<li>
					<a href="/advice/guides/va-loan/" data-omtag="header-menu:advice:guide:veterans">Veterans Home Buying Guide</a>
				</li>
			</ul>
		</div>
		<div>
			<ul class="global-nav-list-unstyled">
				<li class="dropdown-header">Videos</li>
						<li class="global-nav-news-feed-items-wrap">
			<div class="global-nav-news-feed-item">
				<div class="global-nav-news-feed-content">
					<a href="http://www.realtor.com/videos/video-the-true-meaning-behind-these-4-secret-real-estate-code-words/11c13144-4434-407c-8991-e0550cd61fb9">The True Meaning Behind These Four Secret Real Estate Code Words</a>
				</div>
				<div class="global-nav-news-feed-media">
					<a href="http://www.realtor.com/videos/video-the-true-meaning-behind-these-4-secret-real-estate-code-words/11c13144-4434-407c-8991-e0550cd61fb9"><img class="thumbnail news_advice_links" alt="The True Meaning Behind These Four Secret Real Estate Code Words"></a>
				</div>
			</div>
			<hr class="global-nav-links-divider">
		</li>


				<li>
					<a href="/videos" data-omtag="header-menu:editorial:real-estate-videos">Real Estate Videos</a>
				</li>
			</ul>
		</div>
	</div>
</div>
          </li>
        </ul>

        <ul class="global-nav global-navbar-nav global-navbar-right global-navbar-side-links">
          <li id="header-mobile-menu" class="dropdown">
            <a href="/mobile/" class="dropdown-toggle disabled mobile-dropdown-icon" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:mobile">
              <i class="svg-icon svg-icon-mobile-menu-toggle"></i>
              <span class="text-mobile-menu-toggle">Mobile Apps</span>
            </a>
            <span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
              <div class="dropdown-menu dropdown-hover dropdown-mobile-link" role="menu">
	<ul class="global-nav-list-unstyled">
		<li>
			<i class="svg-icon svg-icon-app-mobile link-icon"></i>
			<div class="link-icon-content">
				<a class="mobile-link-title" href="/mobile/?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:core">Realtor.com<sup>&reg;</sup> mobile apps</a>
				Find homes for sale or rent on
				<br>
				iPhone, iPad, and Android
			</div>
			<div class="global-nav-clearfix"></div>
		</li>
		<li class="divider"></li>
		<li>
			<i class="svg-icon svg-icon-app-realtor link-icon"></i>
			<div class="link-icon-content">
				<a class="mobile-link-title" href="/mobile/?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:core">Realtor.com<sup>&reg;</sup> Real Estate</a>
				<ul class="global-nav-list-horizontal global-nav-list-style-line">
					<li>
						<a href="https://itunes.apple.com/us/app/realtor.com-real-estate-homes/id336698281?mt=8" data-omtag="header-menu:mobile:ios-core">iOS</a>
					</li>
					<li>
						<a href="http://c00.adobe.com/b2d5a4e1-adc8-4a1d-a2b3-d5c186e399ba/dsp_rdc_mobile_uni-header/g/com.move.realtor" data-omtag="header-menu:mobile:android-core">Android</a>
					</li>
					<li>
						<a href="http://apps.microsoft.com/windows/en-us/app/real-estate-search-by-realtor/ec047c00-1692-4e8f-8a62-1877d1716b24" data-omtag="header-menu:mobile:windows-core">Windows</a>
					</li>
				</ul>
			</div>
			<div class="global-nav-clearfix"></div>
		</li>
		<li>
			<i class="svg-icon svg-icon-app-rentals link-icon"></i>
			<div class="link-icon-content">
				<a class="mobile-link-title" href="http://marketing.realtor.com/rental-app/?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:rentals">Realtor.com<sup>&reg;</sup> Rentals</a>
				<ul class="global-nav-list-horizontal global-nav-list-style-line">
					<li>
						<a href="https://itunes.apple.com/us/app/realtor.com-rentals-apartments/id639619979?ls=1&amp;mt=8" data-omtag="header-menu:mobile:rentals-ios">iOS</a>
					</li>
					<li>
						<a href="https://play.google.com/store/apps/details?id=com.move.rentals" data-omtag="header-menu:mobile:rentals-android">Android</a>
					</li>
				</ul>
			</div>
			<div class="global-nav-clearfix"></div>
		</li>
		<li>
			<i class="svg-icon svg-icon-app-doorsteps link-icon"></i>
			<div class="link-icon-content">
				<a class="mobile-link-title" href="http://www.realtor.com/mobile/?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:doorsteps">Doorsteps Swipe<sup>&trade;</sup></a>
				<ul class="global-nav-list-horizontal global-nav-list-style-line">
					<li>
						<a href="https://itunes.apple.com/app/id839814107" data-omtag="header-menu:mobile:ios-swipe">iOS</a>
					</li>
				</ul>
			</div>
			<div class="global-nav-clearfix"></div>
		</li>
	</ul>
</div>
          </li>
          <li id="header-mobile-network-links" class="dropdown global-navbar-mobile-network-sites">
            <a href="#" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" role="button" aria-expanded="false"><span class="global-nav-text-tranform-lower">realtor.com<sup>&reg;</sup></span> NETWORK</a>
<span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down"></i></span>
<div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
	<div class="container dropdown-content-wrapper">
		<div>
			<ul class="global-nav-list-unstyled">
				<li class="dropdown-header">
					Part of realtor.com<sup>&reg;</sup> Network
				</li>
				<li>
					<a href="http://www.realtor.com/international/en" data-omtag="header-menu:network:international">International</a>
				</li>
				<li>
					<a href="http://commercialsearch.realtor.com/" data-omtag="header-menu:network:commerical">Commercial</a>
				</li>
				<li>
					<a href="http://www.moving.com"  data-omtag="header-menu:network:moving">Moving.com</a>
				</li>
				<li>
					<a href="http://www.seniorhousingnet.com/" data-omtag="header-menu:network:senior">SeniorHousingNet.com</a>
				</li>
				<li>
					<a href="http://www.doorsteps.com/?utm_source=realtor&amp;utm_medium=top_nav&amp;utm_campaign=rdc_nav/" data-omtag="header-menu:network:doorsteps">Doorsteps</a>
				</li>
			</ul>
		</div>
		<div>
			<ul class="global-nav-list-unstyled">
				<li class="dropdown-header">
					News Corp Properties
				</li>
				<li><a href="http://www.barrons.com" data-omtag="header-menu:nc:network:barrons">Barron’s</a></li>
				<li><a href="http://www.wsj.com" data-omtag="header-menu:nc:network:wall-street-journal">Wall Street Journal</a></li>
				<li><a href="http://www.efinancialnews.com" data-omtag="header-menu:nc:network:financial-news">Financial News</a></li>
				<li><a href="http://www.mansionglobal.com/" data-omtag="header-menu:nc:network:mansion-global">Mansion Global</a></li>
				<li><a href="http://nypost.com/" data-omtag="header-menu:nc:network:new-york-post">New York Post</a></li>
				<li><a href="http://www.marketwatch.com/" data-omtag="header-menu:nc:network:market-watch">Market Watch</a></li>
				<li><a href="http://www.checkout51.com" data-omtag="header-menu:nc:network:checkout-51">Checkout 51</a></li>
				<li><a href="http://www.harpercollins.com/" data-omtag="header-menu:nc:network:harper-collins">Harper Collins</a></li>
				<li><a href="http://www.rea-group.com/" data-omtag="header-menu:nc:network:rea">REA</a></li>
				<li><a href="http://storyful.com/" data-omtag="header-menu:nc:network:storyful">Storyful</a></li>
			</ul>
		</div>
	</div>
</div>

          </li>
        </ul>
      </div>
    </div>
  </nav>
