<div class="poi-item">
  <div class="icon">
    <img src="https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png" alt="">
  </div>
  <div class="name">Common Interest Management Services</div>
  <div class="rating"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
</div>
