<div class="property-card">
    <div class="property-image">
      <img src="http://ap.rdcpix.com/1472344683/665eba795c50650a90b7cfa5eede9052l-m1xd-w1020_h770_q80.jpg" class="centered">
    </div>
    <div class="back">
      <div class="property-meta">
        <div class="price extrabig-bold">$13,333,333</div>
        <div class="address big-bold">1682 D Trump Rd</div>
      </div>
      <div class="property-actions">
        <div class="action"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Add To Map</div>
        <div class="action"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Full Detail</div>
      </div>
    </div>
</div>

<div><p></p></div>
