<span id="close-city-zoom">
  X CLOSE
</span>

<%= render partial: 'popover' %>
<%= render partial: 'selection_bar' %>


<script>

SEARCHED_GEO = {
  city: "<%= @geo %>",
  type: "<%= @type %>"
};

</script>
