<div id="box-bottom" class="hoverbox">

  <form>
    <input class="city-checkbox" type="checkbox" name="Santa Clara" value="Santa Clara" checked>Santa Clara<br>
    <input class="city-checkbox" type="checkbox" name="Sunnyvale" value="Sunnyvale">Sunnyvale<br>
    <input class="city-checkbox" type="checkbox" name="Saratoga" value="Saratoga">Saratoga<br>
  </form>

  <!-- <div class="city-item">
      Santa Clara
  </div>
  <div class="city-item">
      Sunnyvale
  </div>
  <div class="city-item">
      San Jose
  </div>
  <div class="city-item">
      Cupertino
  </div>
  <div class="city-item">
      Saratoga
  </div> -->
</div>
