<div id="box-bottom" class="hoverbox">

  <form>
    <input class="city-checkbox" type="checkbox" name="Santa Clara" value="Santa Clara" id="SantaClara" checked>
    <label for="SantaClara">Santa Clara</label>
    <input class="city-checkbox" type="checkbox" name="Sunnyvale" value="Sunnyvale" id="Sunnyvale" checked>
    <label for="Sunnyvale">Sunnyvale</label>
    <input class="city-checkbox" type="checkbox" name="Saratoga" value="Saratoga" id="Saratoga" checked>
    <label for="Saratoga">Saratoga</label>
    <input class="city-checkbox" type="checkbox" name="San Jose" value="San Jose" id="SanJose" checked>
    <label for="SanJose">San Jose</label>
    <input class="city-checkbox" type="checkbox" name="Mountain View" value="Mountain View" id="MountainView" checked>
    <label for="MountainView">Mountain View</label>
    <input class="city-checkbox" type="checkbox" name="Cupertino" value="Cupertino" id="Cupertino" checked>
    <label for="Cupertino">Cupertino</label>
    <input class="city-checkbox" type="checkbox" name="Los Altos" value="Los Altos" id="LosAltos" checked>
    <label for="LosAltos">Los Altos</label>
    <input class="city-checkbox" type="checkbox" name="Palo Alto" value="Palo Alto" id="PaloAlto" checked>
    <label for="PaloAlto">Palo Alto</label>
    <input class="city-checkbox" type="checkbox" name="Campbell" value="Campbell" id="Campbell" checked>
    <label for="Campbell">Campbell</label>
    <input class="city-checkbox" type="checkbox" name="Alviso" value="Alviso" id="Alviso" checked>
    <label for="Alviso">Alviso</label>
  </form>
</div>
