<div id="box-bottom" class="hoverbox">

  <form>
    <input class="city-checkbox" type="checkbox" name="Santa Clara" value="Santa Clara" checked>Santa Clara<br>
    <input class="city-checkbox" type="checkbox" name="Sunnyvale" value="Sunnyvale">Sunnyvale<br>
    <input class="city-checkbox" type="checkbox" name="Saratoga" value="Saratoga">Saratoga<br>
    <input class="city-checkbox" type="checkbox" name="San Jose" value="San Jose">San Jose<br>
    <input class="city-checkbox" type="checkbox" name="Mountain View" value="Mountain View">Mountain View<br>
    <input class="city-checkbox" type="checkbox" name="Cupertino" value="Cupertino">Cupertino<br>
    <input class="city-checkbox" type="checkbox" name="Los Altos" value="Los Altos">Los Altos<br>
    <input class="city-checkbox" type="checkbox" name="Palo Alto" value="Palo Alto">Palo Alto<br>
    <input class="city-checkbox" type="checkbox" name="Campbell" value="Campbell">Campbell<br>
    <input class="city-checkbox" type="checkbox" name="Alviso" value="Alviso">Alviso<br>
  </form>
</div>
