<div id="box-bottom" class="hoverbox">
  <div class="city-item">
      City1
  </div>
  <div class="city-item">
      City1
  </div>
  <div class="city-item">
      City1
  </div>
  <div class="city-item">
      City1
  </div>
  <div class="city-item">
      City1
  </div>
</div>
<script>
  $('.city-item').click(function(){
    $(this).toggleClass('active');
  })
</script>
