<div id="box-right" class="hoverbox">
  <div class="title" id="city_div">
  </div>
  <div>
    Top 3 Hot Properties
  </div>
  <p></p>
  <div class="list">
    <ul id="property_card_list">
      <!-- runtime proeprty cards will go here. -->
    </ul>
  </div>
</div>
