<div id="box-right" class="hoverbox">
  <div class="title">
    Santa Clara, CA
  </div>
  <div class="list">
    <ul>
      <li>
        <%= render partial: 'shared/property_card' %>
      </li>
    </ul>
  </div>
</div>
