<div id="box-top-left" class="hoverbox">
  <div class='logo-image-wrap'>
    <%= image_tag('rdc-logo.svg', class:'logo-image') %>
  </div>
  <div class="search-wrap input-group">
    <input type="text" class="form-control" placeholder="City/Zipcode" aria-describedby="geo">
    <span class="input-group-addon" id="geo"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
  </div>
</div>
