<div id="box-top" class="hoverbox hover-show-bg">
  <div class="item item-1 selected" id="hot_areas_header">
    <div class="icon"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span></div>
    <div class="text">Hot Area</div>
  </div>
  <div class="item item-2" id="median_price_header">
    <div class="icon"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></div>
    <div class="text">Median Price</div>
  </div>
  <div class="item item-3">
    <div class="icon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
    <div class="text">Population</div>
  </div>
  <div class="item item-4">
    <div class="icon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
    <div class="text">Popular Places</div>
  </div>

</div>
