@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body {
  font-family: Monospace;
  background-color: 'grey';
  margin: 0px;
  overflow: hidden;
}
